.price {
    text-align: left;
    color: orange;
    font-weight: bold;
    display: inline
}

.original-price {
    margin-left: 10px;
    margin-right: 80px;
    display: inline;
    text-align: left
}


.quantity {
    display: inline;
    margin: 10px
}


.addToCart {
    
    margin-top: 20px;
    height: 50px;
    width: 45%;
    border-radius: 5px;
    background-color: orange;
    position: relative;
}

.preview {
    
    margin-top: 20px;
    margin-right:10px;
    height: 50px;
    width: 45%;
    border-radius: 5px;
    background-color: orange;
    position: relative;
}